USE [master]
GO
/****** Object:  Database [KROS_Zadanie]    Script Date: 24. 2. 2023 10:38:00 ******/
CREATE DATABASE [KROS_Zadanie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KROS_Zadanie', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022 Express\MSSQL16.SQLEXPRESS01\MSSQL\DATA\KROS_Zadanie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KROS_Zadanie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022 Express\MSSQL16.SQLEXPRESS01\MSSQL\DATA\KROS_Zadanie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KROS_Zadanie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KROS_Zadanie]
GO
/****** Object:  Table [dbo].[Divizie]    Script Date: 24. 2. 2023 10:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divizie](
	[KodDivizie] [int] NOT NULL,
	[NazovDivizie] [nvarchar](50) NOT NULL,
	[KodRodica_Firma] [int] NULL,
	[IdVeducehoDivizie] [int] NULL,
 CONSTRAINT [PK_Divizie] PRIMARY KEY CLUSTERED 
(
	[KodDivizie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Firmy]    Script Date: 24. 2. 2023 10:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firmy](
	[KodFirmy] [int] NOT NULL,
	[NazovFirmy] [nvarchar](50) NOT NULL,
	[IdRiaditela] [int] NULL,
 CONSTRAINT [PK_Firmy] PRIMARY KEY CLUSTERED 
(
	[KodFirmy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oddelenia]    Script Date: 24. 2. 2023 10:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oddelenia](
	[KodOddelenia] [int] NOT NULL,
	[NazovOddelenia] [nvarchar](50) NOT NULL,
	[KodRodica_Projekt] [int] NULL,
	[IdVeducehoOddelenia] [int] NULL,
 CONSTRAINT [PK_Oddelenia] PRIMARY KEY CLUSTERED 
(
	[KodOddelenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projekty]    Script Date: 24. 2. 2023 10:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projekty](
	[KodProjektu] [int] NOT NULL,
	[NazovProjektu] [nvarchar](50) NOT NULL,
	[KodRodica_Divizia] [int] NULL,
	[IdVeducehoProjektu] [int] NULL,
 CONSTRAINT [PK_Projekty] PRIMARY KEY CLUSTERED 
(
	[KodProjektu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamestnanci]    Script Date: 24. 2. 2023 10:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamestnanci](
	[Id] [int] NOT NULL,
	[Meno] [nvarchar](50) NOT NULL,
	[Priezvisko] [nvarchar](50) NOT NULL,
	[Titul] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TelefonneCislo] [nvarchar](50) NOT NULL,
	[id_firmy_zamestnanca] [int] NULL,
 CONSTRAINT [PK_Zamestnanci] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Divizie]  WITH CHECK ADD  CONSTRAINT [FK_Divizie_Firmy] FOREIGN KEY([KodRodica_Firma])
REFERENCES [dbo].[Firmy] ([KodFirmy])
GO
ALTER TABLE [dbo].[Divizie] CHECK CONSTRAINT [FK_Divizie_Firmy]
GO
ALTER TABLE [dbo].[Divizie]  WITH CHECK ADD  CONSTRAINT [FK_Divizie_Zamestnanci] FOREIGN KEY([IdVeducehoDivizie])
REFERENCES [dbo].[Zamestnanci] ([Id])
GO
ALTER TABLE [dbo].[Divizie] CHECK CONSTRAINT [FK_Divizie_Zamestnanci]
GO
ALTER TABLE [dbo].[Firmy]  WITH CHECK ADD  CONSTRAINT [FK_Firmy_Zamestnanci] FOREIGN KEY([IdRiaditela])
REFERENCES [dbo].[Zamestnanci] ([Id])
GO
ALTER TABLE [dbo].[Firmy] CHECK CONSTRAINT [FK_Firmy_Zamestnanci]
GO
ALTER TABLE [dbo].[Oddelenia]  WITH CHECK ADD  CONSTRAINT [FK_Oddelenia_Projekty] FOREIGN KEY([KodRodica_Projekt])
REFERENCES [dbo].[Projekty] ([KodProjektu])
GO
ALTER TABLE [dbo].[Oddelenia] CHECK CONSTRAINT [FK_Oddelenia_Projekty]
GO
ALTER TABLE [dbo].[Oddelenia]  WITH CHECK ADD  CONSTRAINT [FK_Oddelenia_Zamestnanci] FOREIGN KEY([IdVeducehoOddelenia])
REFERENCES [dbo].[Zamestnanci] ([Id])
GO
ALTER TABLE [dbo].[Oddelenia] CHECK CONSTRAINT [FK_Oddelenia_Zamestnanci]
GO
ALTER TABLE [dbo].[Projekty]  WITH CHECK ADD  CONSTRAINT [FK_Projekty_Divizie] FOREIGN KEY([KodRodica_Divizia])
REFERENCES [dbo].[Divizie] ([KodDivizie])
GO
ALTER TABLE [dbo].[Projekty] CHECK CONSTRAINT [FK_Projekty_Divizie]
GO
ALTER TABLE [dbo].[Projekty]  WITH CHECK ADD  CONSTRAINT [FK_Projekty_Zamestnanci] FOREIGN KEY([IdVeducehoProjektu])
REFERENCES [dbo].[Zamestnanci] ([Id])
GO
ALTER TABLE [dbo].[Projekty] CHECK CONSTRAINT [FK_Projekty_Zamestnanci]
GO
ALTER TABLE [dbo].[Zamestnanci]  WITH CHECK ADD  CONSTRAINT [FK_Zamestnanci_Firmy] FOREIGN KEY([id_firmy_zamestnanca])
REFERENCES [dbo].[Firmy] ([KodFirmy])
GO
ALTER TABLE [dbo].[Zamestnanci] CHECK CONSTRAINT [FK_Zamestnanci_Firmy]
GO
USE [master]
GO
